
  .search-form {
    text-align: center;
    padding: 30px;
  }
  .search-form input {
    font-size: 25px;
  }
  .search-form [type='text'] {
    width: 400px;
  }
  .gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
  }
  .photo-card {
    margin: 5px;
    width: 320px;
  }
  .stats {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .stats-item {
    margin-left: auto;
    margin-right: auto;
  }
  .stats-item i {
    display: block;
    text-align: center;
  }